h1 {
    font-family: 'Work Sans';
    font-size: xx-large;
    font-weight: 100;
    color: white;
    text-align: center;
}
hr {
    width: 40%;
    color: rgb(30, 30, 30);
    
}

p {
    font-family: 'Work Sans';
    font-weight: 100;
    color: rgba(255, 255, 255, 200);
    text-align: center
}
pre {
    font-family: 'Work Sans';
    font-weight: 100;
    color: white;
    text-align: center
}
a{
    font-family: 'Work Sans';
    font-weight: 300;
    color: white;
    text-align: center
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, 0.3);
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

#sketch-holder{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}