*{
    /* border: 1px dashed red; */
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Work Sans';
    font-size: xx-large;
    font-weight: 100;
    color: white;
    text-align: center;
}

h3 {
    font-family: 'Work Sans';
    font-size: large;
    font-weight: 100;
    color: white;
    text-align: center;
}
hr {
    width: 40%;
    color: rgb(30, 30, 30);
}

p {
    font-family: 'Work Sans';
    font-weight: 100;
    color: rgba(255, 255, 255, 50);
    text-align: center;
    line-height: 1.3;
    /* letter-spacing: 1px; */
}

ul, ol{
    font-family: 'Work Sans';
    font-weight: 100;
    color: rgba(255, 255, 255, 200);
    padding-left: 2rem;
}
span{
        color: cyan;
}
table {
    font-family: 'Work Sans';
    font-weight: 100;
    color: rgba(255, 255, 255, 200);
    text-align: center;
    /* border: 1px solid green; */

}
td {
    font-family: 'Work Sans';
    color: rgba(255, 255, 255, 255);
}
table, th, td {
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.2);
}
td, th{
    padding: 0.4rem;
    
}
figcaption{
    font-family: 'Work Sans';
    font-weight: 100;
    color: rgba(255, 255, 255, 200);
    text-align: center;
}
pre {
    font-family: 'Work Sans';
    font-weight: 100;
    color: white;
    text-align: center;
}
a{
    font-family: 'Work Sans';
    /* font-weight: 300; */
    color: rgba(255, 255, 255, 255);
    text-align: center
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    /* color: rgba(255, 255, 255, 0.3); */
    color: white;
    background-color: transparent;
    text-decoration: none;
    border-bottom: 0.1px solid cyan;
}

a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

#preview-area{
    display: flex;

    flex: 0.4 0 400px;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
}

#preview-image-box{
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#preview-image{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#preview-subtitle{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Work Sans';
    font-weight: 300;
    color: rgba(255, 255, 255, 0.3);
    background-color: transparent;
    text-decoration: none;
}

.copyright{
    color: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    /* border: 1px dashed violet; */
    width: 95%;
    margin: 2rem auto 1rem auto; 
    font-size: clamp(0.8rem, 0.9vw, 1.4rem);
}

.copyright-home {
    color: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    /* border: 1px dashed violet; */
    width: 30rem;
    margin: 2rem auto 4rem auto; 
    font-size: clamp(1rem, 1.1vw, 1.4rem);
}

.copyright-misc {
    color: rgba(255, 255, 255, 0.2);
    /* padding: 1rem; */
    /* border: 1px dashed violet; */
    width: 30rem;
    margin: 0 auto 2rem auto; 
    font-size: clamp(1rem, 1.1vw, 1.4rem);
}

.sidebar-tabs{
    text-align: center;
    font-size: clamp(1rem, 1vw, 1.7rem);
}

.header-sidebar{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* margin: 5rem 0 5rem 45rem; */
    margin: 0 auto;
    gap: 2rem;
    /* border: 1px solid yellow; */
    }

.header-sidebar-dummy{
    display:flex;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    gap: 2rem;
    /* border: 1px solid yellow; */
    }
.header-sidebar-dummy p{
    color: black;

}

.header-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10em auto 3em auto;
        /* height: 500px; */
        width: min(60rem, 65%);
        height: min(100vh, 100%);
        /* border: 3px solid blue; */
}

.sketch-container{
    display: flex;
    flex-direction: column;
     margin: auto;
}

#sketch-holder{
    /* position: absolute; */
    display: flex;
    align-items: center;
}

.sketch-title{
    margin: 0.5rem auto 0;
    color: gray;
}
.header-everything{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* border: 1px solid red; */
}

.music-pieces{
    font-family: 'Work Sans';
    font-size: 0.9vw;
    text-align: left;
    width: 30rem;
    /* padding: 0.2rem; */
    margin: 1rem auto 0rem;
    /* position: fixed; */
    /* border: 2px solid red; */
    list-style:circle;
}

.music-pieceList{
    font-family: 'Work Sans';
    text-align: left;
    width: 30rem;
    margin: 1rem auto 0rem;
  
    /* padding: 0px 0px 5px 550px; */
}

.music-container{
    width: 40rem;
    margin: 0 auto;
    /* color: white; */
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    /* border: 2px solid green; */
}

.music-note{
    font-family: 'Work Sans';
    font-size: 0.8rem;
    text-align: left;
    width: 21rem;
    margin: 0.25rem auto 2.5rem auto;
    color: rgba(255, 255, 255, 1);
    line-height: 2rem;
    list-style: none;
    /* text-indent: 3rem; */
    /* border: 1px solid yellow; */

}


.music-year{
    position: sticky;
    top: 3.5rem;
    padding: 0.5rem 0 0.5rem 0;
    font-size: clamp(1.5rem, 1.5vw, 4rem);
    background-color: black;
    color: white;
}

.music-performedPiece{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    width: 40rem;
    margin: 1rem auto;

}

.listen-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 8rem 0 0; */
}

.listen-big-vid{
    width: 840px;
    height: 473px;
}

.listen-small-vid{
    width: 560px;
    height: 315px;
}

.listen-entry{
    margin: 4rem 0;
    text-align: center;
}

.listen-blurb{
    text-align: center;
    padding: 1rem;
    width: 19rem;
    margin: 0 auto;
    text-wrap: wrap;
    align-items: center;
}

.listen-sidebyside{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner{
    display: flex;
    position: sticky;
    top: 0;
    background-color: black;
    justify-content: center;
    /* font-size: 5vw; */
    margin: 15px 0 10px 0;
    color: pink;
}
/* make a media query for the music page */
.banner-text{ 
    margin: 1rem 0 1rem 0;
    font-size: clamp(1rem, 1.5vw, 5rem);
    text-wrap: wrap;
    color: gray;
}

.sticky-copyright{
    display: none;
}

.blog-date{
    text-align: left;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
    width: 7rem;
    margin: 0 auto 0 0;
}
.blog-title{
    text-align: right;
    /* font-family: 'Work Sans'; */
    /* font-weight: 100; */
    font-size: 0.9rem;
    /* color: rgba(255, 255, 255, 255); */
}
.blog-unavailable{
    color: rgba(255, 255, 255, 0.3);
    /* font-weight: 100; */
    text-align: right;
    font-size: 0.9rem;
}
.blog-display{
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: clamp(1.1rem, 1.1vw, 3rem);
    width: 37rem;
    margin: 0 auto;
    height: 80vh;
}

.blog-entry{
    display: flex;
    flex-direction: row;
    padding: 0.2rem;
    border-bottom: 1px solid rgb(30, 30, 30);

}

.blogpost-title{
    width: min(45rem, 90%);
    letter-spacing: 0.3rem;
    word-spacing: 1rem;
    text-align: left;
    font-size: clamp(1rem, 1.6vw, 5rem);
    margin: 3.4rem auto 0.4rem;
}

.blogpost-photo{
    width: 45rem;
    /* height: 40%; */
    margin: 0 auto;
    display: block;
    /* border: 5px solid gray; */
}

.blogpost-blurb{

    margin: 1rem auto 1rem;
    width: min(25rem, 90%);
    text-align: left;
}

.blogpost-date{
    width: min(45rem, 90%);
    margin: 1.4rem auto;
    text-align: left;

}
.blogpost-text{
    width: min(45rem, 90%);
    margin: 0 auto;
    font-size: clamp(0.9rem, 0.9vw, 2rem);
    text-align: left;
    padding-left: max(2rem, 5%);
    padding-right: max(2rem, 5%);
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    line-height: 1.5rem;
}

.bio-text{
    width: min(45rem, 90%);
    margin: 0 auto;
    font-size: clamp(0.9rem, 0.9vw, 2rem);
    text-align: left;
    padding-left: max(2rem, 5%);
    padding-right: max(2rem, 5%);
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    line-height: 1.5rem;
}

.contact-note{
    width: min(45rem, 95%);
    margin: 1rem auto;
    font-size: clamp(0.9rem, 0.9vw, 2rem);
    text-align: left;
}

.contact-links{
    width: min(45rem, 95%);
    margin: 1rem auto 1rem auto;

    font-size: clamp(0.9rem, 0.9vw, 2rem);

}
.contact-text{
    /* margin: 0 auto 0 0; */
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .5rem;
}

.misc-title{
    font-family: 'Work Sans';
    font-size: clamp(1.2rem, 1vw, 2rem);
    text-align: left;
    width: 30rem;
    /* padding: 1rem; */
    margin: 1% auto 0rem;
}
.misc-list{

    font-family: 'Work Sans';
    font-size: clamp(0.9rem, 0.9vw, 2rem);
    text-align: left;
    width: 30rem;
    padding: 1rem;
    margin: 0 auto;
    /* position: fixed; */
    /* border: 2px solid red; */
}
.misc-list-item{
        font-family: 'Work Sans';
    font-size: clamp(0.9rem, 0.9vw, 2rem);
    text-align: left;
    width: 30rem;
    padding: 0.2rem;
    /* margin: 1rem auto; */
    /* position: fixed; */
    /* border: 2px solid red; */
}

.misc-sketch-container{
    /* margin: auto auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 500px;
    margin: 0 auto;
    /* position: absolute; */
}

@view-transition {
    navigation: auto;
}


@media(max-width: 1296px){

.header-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
}

.header-sidebar{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 35.5rem auto 0rem;
    gap: 30px;
    width: 95%;

}

.header-sidebar-dummy{
    display:none;
    /* color: black;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    gap: 2rem;
    border: 1px solid yellow; */
    }

.sidebar-tabs{
    text-align: center;
    font-size: max(3vw, 1.7rem);
}

#sketch-holder{
    position: absolute;
        /* display: block; */
    width: 500px;
}

.copyright{
    margin: 5rem auto 3rem auto;
    padding: 10px;
    color: rgba(255, 255, 255, 0.3);
    font-size: max(2vw, 1.4rem);
    width: 95%;
    /* margin: 2rem auto 10rem auto;  */
}

.copyright-home{
    margin: 3rem auto 3rem auto;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.3);
    font-size: max(2vw, 1.4rem);
    width: 39rem;
}

.music-pieces{
    font-family: 'Work Sans';
    font-size: 1.5rem;
    text-align: left;
    width: min(50rem, 85%);
    padding: 0.5rem;
    margin: 1.4rem auto;
    list-style:circle;
}

.music-pieceList{
    font-family: 'Work Sans';
    text-align: left;
    width: 40rem;
    margin: 1rem auto;
    font-size: 1.5rem;
    /* padding: 0px 0px 5px 550px; */
}

.music-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    /* border: 2px solid green; */
}

.music-note{
    font-family: 'Work Sans';
    font-size: 1rem;
    text-align: left;
    width: 40rem;
    margin: 1rem auto;
    /* color: rgba(255, 255, 0, 0.8); */
    list-style: none;
    font-size: 1.5rem;
    /* text-indent: 3rem; */
}

.music-year{
    position: sticky;
    top: 4.5rem;
    padding-bottom:10px;
    font-size: clamp(2rem, 1.8vw, 5rem);
    background-color: black;
}

.music-performedPiece{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    width: 40rem;
    margin: 1rem auto;

}

.listen-sidebyside{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listen-big-vid{
    width: 504px;
    height: 284px;
}

.listen-small-vid{
    width: 504px;
    height: 284px;
}


.bio-text{
    font-size: clamp(1.3rem, 2vw, 3rem);
    text-align: left;
    padding-left: min(2rem, 5%);
    padding-right: min(2rem, 5%);
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 2rem;
}

#preview-area{
    display: none;
}


.blog-display{
    font-family: 'Work Sans';
    font-size: 2.5rem;
    text-align: left;
    width: min(50rem, 85%);
    padding: 1.5rem;
    margin: 1.4rem auto;
    /* height: 100vh; */
}

.blog-title{
    text-align: right;
    /* font-family: 'Work Sans'; */
    /* font-weight: 100; */
    font-size: 1.0rem;
    /* color: rgba(255, 255, 255, 255); */
}
.blog-entry{
    display: flex;
    flex-direction: row;
    padding: 0.8rem;
    border-bottom: 1px solid rgb(30, 30, 30);
}

.blogpost-title{
    width: min(55rem, 85%);
    font-size: clamp(3rem, 2vw, 2rem);
    margin: 0 auto;
    border-bottom: 1px solid gray;
}

.blogpost-date{
    width: min(65rem, 90%);
    font-size: 1.4rem;
    margin: 1.4rem auto;
    text-align: left;

}
.blogpost-text{
    font-size: 1.4rem;
    width: min(65rem, 90%);
    margin: 1.4rem auto;
    /* padding: 1rem min(18rem, 95%); */
    line-height: 3.5rem;
    text-align: left;
}
td, th{
    padding: 0.8rem;
    font-size: 1.8rem;
}
.banner-text{
    font-size: 3rem;
}

}


